    @font-face {
        font-family: 'khmer';
        font-style: normal;
        font-weight: regular;
        src: url(../fonts/battambang_regular.ttf);
    }
    @font-face {
        font-family: 'khmer';
        font-style: normal;
        font-weight: bold;
        src: url(../fonts/battambang_bold.ttf);
    }
    *, .specific-font{
        font-family: 'khmer', sans-serif, 'Lato', Calibri, Arial,  serif;
    }

    aside#left-panel {
        width: 260px;
    }

    .ribbon-button-alignment {
        padding-left: 12px !important;
    }

    #content {
        margin-left: 40px;
    }

    .no-padding {
        padding: 0;
    }

    .school-compare {
        width: 472px;
        margin-bottom: 45px;
        padding-left: 0;
        padding-right: 5px;
    }

    .variance {
        margin-bottom: 45px;
        padding-left: 0;
        padding-right: 0;
        width: 60px;
    }

    /*logo side*/
    #header>:first-child, aside {
        width: 50px;
    }

    #ribbon {
        padding-left: 35px !important;
    }

    /*Datatable Information Style*/

    .dt-buttons {
        padding: 15px 0 0 15px;
    }

    .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
        color: #333;
        padding-bottom: 10px;
        padding-right: 20px;
    }

    .no-padding .dataTables_wrapper table, .no-padding>table {
        border: 1px solid #ccc !important;
        border-top: none !important;
        margin: 15px 0 !important;
    }

    .dataTables_wrapper .dataTables_info {
        padding-left: 10px;
    }
