    @font-face {
        font-family: 'khmer';
        font-style: normal;
        font-weight: regular;
        src: url(../fonts/battambang_regular.ttf);
    }
    @font-face {
        font-family: 'khmer';
        font-style: normal;
        font-weight: bold;
        src: url(../fonts/battambang_bold.ttf);
    }
    *, .specific-font{
        font-family: 'khmer', sans-serif, 'Lato', Calibri, Arial,  serif;
    }

    aside#left-panel {
        width: 260px;
    }

    .ribbon-button-alignment {
        padding-left: 12px !important;
    }

    #content {
        margin-left: 40px;
    }

    .no-padding {
        padding: 0;
    }

    .school-compare {
        width: 472px;
        margin-bottom: 45px;
        padding-left: 0;
        padding-right: 5px;
    }

    .variance {
        margin-bottom: 45px;
        padding-left: 0;
        padding-right: 0;
        width: 60px;
    }

    /*logo side*/
    #header>:first-child, aside {
        width: 50px;
    }

    #ribbon {
        padding-left: 35px !important;
    }
